@font-face {
  font-family: 'ld_ozregular';
  src: url("ld_oz_fn-webfont.woff2") format("woff2"), url("ld_oz_fn-webfont.woff") format("woff"), url("ld_oz_fn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  background-image: url("/img/bg.png");
  background-position: top;
  background-size: 100% auto; }

button.btn-test,
.btn-test:hover,
.btn-test:active,
.btn-test:visited,
.btn-stestfocus {
  font-family: 'Nanum Myeongjo', serif;
  background-color: #b31e3f;
  border-color: #b31e3f;
  color: white;
  margin-right: 5px;
  margin-top: 10px; }
  button.btn-test:hover,
  .btn-test:hover:hover,
  .btn-test:active:hover,
  .btn-test:visited:hover,
  .btn-stestfocus:hover {
    background: #c92247; }

.navbar-brand, .nav-link {
  font-family: 'Nanum Myeongjo', serif; }

div.card-header.default {
  background-color: #b31e3f;
  color: white; }

.card.default {
  background-color: grey;
  color: white; }

h3, h4, h6, p, .form-label {
  font-family: 'Nanum Myeongjo', serif; }

h4 {
  font-weight: bold; }

h6 {
  font-size: 24px; }

p {
  font-size: 20px; }

.card.login {
  background-color: rgba(0, 0, 0, 0.7); }
  .card.login .textareaStyle {
    color: white; }

button.btn.answer-btn {
  background-color: #b31e3f;
  color: white;
  border-color: #b31e3f;
  font-family: 'Nanum Myeongjo', serif;
  margin: 10px; }
  button.btn.answer-btn:hover {
    background: #c92247;
    color: white; }

h1 {
  font-family: 'ld_ozregular', Arial, sans-serif;
  font-size: 60px; }

div.card-header.winner {
  background-color: #009874;
  color: white; }

.winner-logo {
  margin-bottom: 15px; }

.google-button {
  margin-top: 25px; }
