@import "Variables";

.App {
  text-align: center;
}

.main-logo {
  align-content: center;
}

// Navbar
button.btn-success,
  .btn-success:hover,
  .btn-success:active,
  .btn-success:visited,
  .btn-success:focus {
      background-color: $rubyRed;
      border-color: $rubyRed;
      margin-right: 5px;
      &:hover {
        background: lighten($rubyRed, 5);
      }
  }
  
div.card-header.bg-success {
  background-color: $rubyRed;
}

button.btn.btn-outline-dark.answer-btn {
  color: $rubyRed;
  border-color: $rubyRed;
  margin: 10px;
  &:hover {
    background: lighten($rubyRed, 5);
    color: white;
  }
}