@import "Variables";
@import "Font";
@import "Mixins";

// Background
body {
  background-image: url("/img/bg.jpg");
  min-height:100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
}

// Navbar
button.btn-test,
  .btn-test:hover,
  .btn-test:active,
  .btn-test:visited,
  .btn-stestfocus {
      @include allOtherFont;
      background-color: $rubyRed;
      border-color: $rubyRed;
      color: white;
      margin-right: 5px;
      margin-top: 10px;
      &:hover {
        background: lighten($rubyRed, 5);
      }
  }

  .navbar-brand, .nav-link { 
    @include allOtherFont;
  }
// End of Navbar

// Card
div.card-header.default {
    background-color: $rubyRed;
    color: white;
}

.card.default {
  background-color: grey;
  color: white;
}

h3, h4, h6, p, .form-label {
  @include allOtherFont;
}

h4 {
  font-weight: bold;
}

h6 {
  font-size: 24px;
}

p {
  font-size: 20px;
}
// End of Card

// Login Card
.textareaStyle {
  color: white;
}

// Question Page
button.btn.answer-btn {
  background-color: $rubyRed;
  color: white;
  border-color: $rubyRed;
  @include allOtherFont;
  margin: 10px;
  &:hover {
    background: lighten($rubyRed, 5);
    color: white;
  }
}

// Fonts
h1 {
  font-family: 'ld_ozregular', Arial, sans-serif;
  font-size: 60px;
}

div.card-header.winner {
  background-color: $emerald;
  color: white;
}

.mx-auto.d-block.winner-logo.img-fluid {
  margin-bottom: 15px;
  margin-top: 10px;
}

.logo.img-fluid {
  margin-top: 10px;
}

.mx-auto.d-block.logo.img-fluid {
  margin-top: 10px;
} 

.mx-auto.d-block.logo {
  margin-top: 10px;
} 

.correct {
  color: $emerald;
  text-shadow: 2px 2px 4px #000000;
}

.wrong {
  color: $rubyRed;
  text-shadow: 2px 2px 4px #000000;
}